import streamlit as st
import cv2
import mediapipe as mp
import numpy as np
import threading
import time
import os
import platform
from PIL import Image
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt